body{text-align: center;}

ul{text-align: left;}

h1{color: red; font-family: Arial}
h2{color: blue; font-family: Arial}


.frame {

background: green;
border: dashed 10px #9BA4B5;
border-radius : 100px;
margin: 30px;
box-shadow:10px 10px 10px pink;

}

.frame2 {
background: white;
border: dashed 10px ;
border-radius : 100px;
margin: 30px;
box-shadow:10px 10px 10px pink;
      }


.avatar {
width: 750px;
height: 750px;
border-radius: 50%;
object-fit: cover;
box-shadow: 10px 10px 10px grey;
}


.galery {
display: flex;
justify-content: space-around;
height: 300px;
align-items: center;
}

.maps {
      display: flex;
      justify-content: space-around;
      align-items: center;
}


.my-navbar {
      background-color: darkred;
      display: flex;
      justify-content: space-between;
      align-items: center;
}


.logo {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      object-fit: cover;
      margin-left: 30px;
}

.links {
      margin-right: 30px;
}














