body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	align-items: center;
	background-color: #fff;
	margin: 10px;
	}

ul{text-align: center;}

h2 h3{color: black;font-family: Arial}

h1{color: black; font-family: Arial; font-weight: 700}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{ text-decoration:none; }


.my-navbar {
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding: 20px;

}

.logo_title, .my-navbar ul	li a {color: #fff}

.my-navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.my-navbar ul li a {
	padding: 12px;
	margin: 0 6px;
}

.my-navbar ul li a:hover {
	color: black;
	background-color: beige;
}




.images{
	display: flex;
	align-items: center;
	justify-content: space between;
	animation-duration: 20s;
	animation-name: mesImages;
	animation-iteration-count: infinite;
}

#caroussel {
	width: 1200px;
	overflow: scroll;
	margin: 35px;
	border: 2px solid #333;	
	}


@keyframes mesImages {
	0% {
		transform: translateX(0);
	}
	25%{
		transform: translateX(-1200px);
	}
	50%{
		transform: translateX(-2400px);
	}
	75%{
		transform: translateX(-3600px);
	}
	100%{
		transform: translateX(0);
	}
}


.frame {
	border: 3px solid #333;
	border-radius: 5px;
	margin: 50px;
	padding: 30px;
	justify-content: center;
	align-items: center;
}

.frame2 {
	display: flex;
	border-radius: 5px;
	border: 3px solid #333;
	justify-content: center;
	padding: 40px;
	margin: 60px;
	box-shadow: 10px 10px 10px grey;
}

.logo{
	border-radius: 100px;
}


.maps{
	display: flex;
	justify-content: space around;
	align-items: center;
	margin: 50px;
}

.resto{
	margin: 30px;
	vertical-align: space around;
}

.footers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: #ddd;
	padding: 20px;
}
